.bottom{
    background-color:black;
    height: max-content;
}

footer{
    height:max-content;
    width:max-content;
    color:white;
    line-height: 200%;
    padding-left:3vw;
    padding-bottom: 5vh;
}